{% extends 'base.html.twig' %}





{% block body %}


<div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="movieTitle">{{movieDetails.title}}</p></td>
        <td><img src='{{movieDetails.image}}' class="moviePicture"/></td>
        <td><p>{{movieDetails.video}}</p></td>
        <td><p class="text-limited">{{movieDetails.synopsis}}</p></td>
      </tr>
    </tbody>
  </table>
</div>


{% for castDetail in castDetails %}
  <div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p class="movieTitle">{{castDetail.name}}</p></td>
        <td><img src='{{castDetail.image}}' class="moviePicture"/></td>
        <td><p>{{castDetail.genre}}</p></td>
      </tr>
    </tbody>
  </table>
</div>
{% endfor %}


{% for reviewList in reviewLists %}
  <div class="table-responsive small">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><p>{{reviewList.username}}</p></td>
        <td><p>{{reviewList.rating}}</p></td>
        <td><p>{{reviewList.comment}}</p></td>
      </tr>
    </tbody>
  </table>
</div>
{% endfor %}
{%endblock%}